  /* style.css*/

  .larger {
      font-family: 'Courier New', Courier, monospace;
      font-size: 32px;
      color: hsl(210, 70%, 35%);
      background-color: pink;
  }

  .listed {
      color: white;
      background-color: rgb(183, 236, 229);
      font-size: 18px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }